.App {
  margin-top: 0;
  
  background-color: #18A5A4;
}

#mainContainer {
  border: solid 5px white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#containerSearch {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

#containerSearch input {
  border-radius: 5px;
  background-color: #c8c8c8;
  height: 25px;
  margin-bottom: 15px;
}

#containerSearch button {
  width: 50%;
  border-radius: 5px;
  background-color: peru;
  margin-left: 25%;
}

#containeCard{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-top: dashed 5px white;
}

#containeCard h2 {
  width: 100%;
}

.card {
  width: 20%;
}

.card img {
  width: 75%;
}