.App {
  margin-top: 0;
  height: 100vh;
  background-color: #18A5A4;
}

#mainContainer {
  border: solid 5px white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#containeCard{
  width: 100%;
  text-align: center;
  border-top: dashed 5px white;
}